@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Faustina:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Belanosima&family=Josefin+Sans:wght@500&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #0a0a0a;
  color: white;
  z-index: 9;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.nav__logo img {
  height: 100px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;

}

.nav__links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav__links li a:hover {
  color: red;
}

.nav_footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0px 0 10px 0;
  color: white;
}

.nav_footer .nav_footer {
  display: flex;
  justify-content: space-around;
}

.location_link {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}
.location_link a{
  background: #1a1a1a;
  border-radius: 5px;
  margin: 0 4px;
}
.nav_footer ul,
.location_link a {
  display: flex;
  padding: 5px 12px;
  color: white;
  font-size: 16px;
}

.nav_footer a,
.location_link a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav_footer a:hover,
.location_link a:hover {
  color: red;
}

.nav__links.open {
  transform: translateY(0);
}

.nav_header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

/* Responsive Design */
.nav__menu__btn {
  display: none;
  color: white;
  font-size: 24px;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);

  }
}

main {
  background: url("images/bg-l.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #001c304c;
}

section {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  inset: 0;
  overflow: hidden;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  animation: titles 1s ease;
  z-index: 1;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;

}

section .title {
  font-family: 'Bebas Neue';
  letter-spacing: 10px;
  text-shadow: #0a0a0a 2px 2px 20px;
  animation: titles 1s ease;
  
}
@keyframes titles {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.subtitle {
  font-size: 1.6rem;
  font-family: 'Josefin Sans';
  font-weight: 400;
  animation: titles 2s ease;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.auto-type {
  color: red;
  font-weight: 600;
}

.about-block {

  background: #0a0a0a;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 0;
  margin: auto;
  width: 90vw;
}

.row-img {
  width: 30vw;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.row-img img {
  scale: 0.8;
}

.row-content {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  width: 50vw;
}

.row-content .gym-name {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.row-content .content {
  color: white;
  word-spacing: 2px;
  font-family: 'poppins';
  margin: 16px 30px 0 0;
  color: #ffffffbf;
}

.transformations {
  padding: 20px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.trans-text {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  text-align: center;
  color: red;
  font-size: 2rem;
  font-family: 'Bebas Neue';
  letter-spacing: 4px;
  margin: 0;
}

.slider-container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  margin: 10px auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0);
  border-radius: 20%;
  color: rgb(250, 250, 250);
  border: none;
  padding: 10px 20px;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.personal-trainers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px 50px 10px;
}

.card {
  position: relative;
  width: 256px;
  place-items: center;
  background-color: #0a0a0a;
  padding: 1.25rem 2rem 2rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
  transition: transform 0.3s ease;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.card:hover {
  transform: scale(1.05);
}

.card__img {
  padding: 6px;
  border-radius: 50%;
}

.card__border {
  border: 2px solid red;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 0.75rem;
}

.card__name {
  color: red;
  font-weight: 700;
}

.card__social {
  width: 200px;
  background-color: red;
  padding: 0.75rem;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0 8px 24px hsla(29, 75%, 56%, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.75rem;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 18px 17px;
  color: white;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.section-header {
  align-items: center;
  margin-bottom: 50px;
}

.testimonials {
  background: #0a0a0a;
  padding: 50px 0;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.testimonials-item {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testmonials-content {
  padding-top: 10px;
}

.testimonials-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  line-height: 1.2;
}

.testimonials-item p {
  margin-top: 20px;
  color: hsl(0, 0, 40%);
}

.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: red;
}

.testimonials .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #fff;
}

.gallery {
  background-color: #0a0a0a;
  padding-bottom: 50px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.grid-wrapper img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.grid-wrapper>div>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

footer {
  background: #0a0a0a;
  width: 100%;
  color: white;
}

.main-content {
  border-top: 1px white solid;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main-content .box {
  padding: 10px 20px;
  
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
}

.box img {
  height: 100px;
  width: 100px;
}

 .social {
  margin: 20px 0 0 0;
}
.box .content > div{
padding: 6px 0 0 0;
}
.social a {
  padding: 0 2px;
  color: white;
}

.social a i {
  padding: 5px;
  background-color: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  border-radius: 5px;
  transition: 0.3s;
}

 .social a i:hover {
  background: red;
}

@media (max-width: 650px) {
  section .title {
    letter-spacing: 1.8px;
    font-size: 2.6rem;
  }
  button {
    padding: 3px 6px;
    font-size:16px;
  }
}

@media (max-width: 860px) {
  main {
    background-image: url(images/bg-m.jpg);
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    width: 100vw;
  }

  .row-content {
    padding: 0 10px;
    width: 100vw;
    
  }

  .row-content .content {
    margin: 16px 0px 0 0;

  }

  .grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: none;
    grid-auto-rows: 200px;
    grid-auto-flow: row;
  }

  .nav__links li:nth-child(2n-1) {
    animation: transformOdd 1s ease;
  }

  @keyframes transformOdd {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .nav__links li:nth-child(2n) {
    animation: transformEven 1s ease;
  }

  @keyframes transformEven {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .nav__menu__btn {
    display: flex;
    align-items: center;
  }

  .nav_header {
    width: 100%;

  }

  .nav_footer {
    display: none;
  }

  .nav_footer.active {
    display: block;
  }

  .nav_footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
  }

  /* Hide Nav Links Initially */
  .nav__links {
    padding: 50px 0 50px 0;
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    transform: none;
    width: 100%;
    background-color: #0a0a0a;

  }

  /* Show Nav Links on Button Click */
  .nav__links.active {
    display: flex;
    transform: translateY(0);
  }

  .personal-trainers {
    flex-direction: column;
    /* Stack the cards vertically */
    gap: 40px;
    /* Add spacing between stacked cards */
  }


  .card__border {
    width: 90px;
    /* Adjust the size of the image border */
    height: 90px;
  }

  .card__social {
    width: 150px;
    /* Reduce the size of the social buttons */
  }
}

/* JavaScript to Toggle Responsive Menu */


/* #e13724 */